@import 'bourbon/bourbon';
@import 'base/base';
@import 'neat/neat';

@import 'geometric';
@import 'rounded-sans-serif';
@import 'sans-serif';
@import 'serif';
@import 'slab-serif';

$gutter: 20px;
$maxwidth: 1000px;

$neat-grid: (
  columns: 6,
  gutter: $gutter,
);

body {
  max-width: $maxwidth;
  margin: $gutter auto $gutter*2 auto;
  @include grid-container;
  > article {
    @include grid-column(6);
  }
  > hr {
    @include grid-column(6);
  }
}
